.navbar{
 font-family: 'Noto Sans JP', sans-serif;
}
.jumbotron {
  background-image: url(Blur.jpg) ;
  background-size: 180px;
}
.jumbotron h1{
  font-family: 'Ubuntu', sans-serif;
  color: white;
  text-shadow: 3px 2px 1px grey;
  font-size: 70px;
}
.jumbotron p{
  color: white;
  text-shadow: 3px 1px 1px grey;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 30px;
  letter-spacing: 2px;
}
.container h3{
  font-family: 'Comfortaa', cursive;

}
.card{
  margin-top: 15px;
}
.footer img {
  width: 80px;
  float: left;
  //padding-top: 20px;
  //padding-left: 30px;
}
.card a{
  font-family: 'Kanit', sans-serif;
    font-size: 30px;
  color: black;
  text-decoration: none;
}

.footer li {
  list-style: none;
  padding-bottom: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}

.footer ul {
  float: right;
  color: white;
  //padding-right: 15px;
}

.footer {
  background-color: #1B1717;
  height: 120px;
}
.footer img{
  width: 160px;
}
.tombol1:hover{
  
text-decoration: none;

}

.tombol2:hover{

text-decoration: none;
}